
@{
    ViewData["Title"] = "MapView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">PACZKOMATY W OKOLICY</h1>
<p>Tutaj możesz sprawdzić paczkomaty, które znajdują się w okolicy.</p>
<div class="line">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d20500.70086554495!2d21.993775641808572!3d50.03782280286478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spaczkomat!5e0!3m2!1spl!2spl!4v1622846244719!5m2!1spl!2spl" width="1300" height="580" style="border:0; margin-left:-100px;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</div>
