@model ParcelLocker.Models.ViewModels.ComplaintAndReasonsVM
@{
    ViewData["Title"] = "SendComplaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">REKLAMACJA</h1>
<p>Masz problem ze swoją paczką? Nie jesteś zadowolony z obsługi? W tym miejscu możesz złożyć reklamację.</p>

<form asp-action="SendComplaint" style="height:550px; width:80%;margin-left:100px;">
    <div class="form-group">
        <label>Adres email</label>
        <input asp-for="Complaint.Email" type="email" class="form-control" id="recipientEmail2" required="" placeholder="przykład@mail.com">
    </div>
    <div class="form-group">
        <label>Numer telefonu</label>
        <input asp-for="Complaint.Phone" type="tel" class="form-control" id="code" aria-describedby="" required="" placeholder="Numer telefonu">
    </div>
    <div class="form-group">
        <label for="parcelNumber">Numer paczki</label>
        <input asp-for="Complaint.ParcelNumber" type="text" class="form-control" id="parcelNumber" aria-describedby="" required="" placeholder="Numer paczki">
    </div>
    <div class="form-check">
        <label>Powód reklamacji</label><br>

        
            @{
                for (int i = 0; i < Model.Reasons.Count(); i++)
                {
                    <select asp-for="Complaint.Reasons.ToList()[i]" class="select"><option value="@Model.Reasons.ToList()[i]">@Model.Reasons.ToList()[i].Name </option> </select>
                }

            }
        
  

    </div>
    <div class="form-group">
        <label for="commentsText">Uwagi</label>
        <textarea asp-for="Complaint.Comment" class="form-control" id="commentsText" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-warning">Wyślij</button>
</form>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("Pomyślnie wysłano paczkę");
        }

    </script>

}




