@model ParcelLocker.Models.ViewModels.ParcelsAndLockersVM

@{
    ViewData["Title"] = "SendParcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>




<h1 class="text-center">NADAJ PACZKĘ</h1>
<p>Aby nadać paczkę wprowadź dane nadawcy i odbiorcy.</p>
<div class="line"></div>

<div class="row">
    <div class="col-sm-6">
        <h2 class="text-center">Dane nadawcy</h2>
    </div>

    <div class="col-sm-6">
        <h2 class="text-center">Dane odbiorcy</h2>
    </div>
</div>
<form asp-action="SendParcel" class="sendForm">
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="senderPhone">Numer telefonu</label>
            <input asp-for="Parcel.SenderPhone" class="form-control" id="senderPhone" aria-describedby="" required="" placeholder="Numer telefonu">
        </div>
        <div class="col-sm-6">
            <label for="recipientPhone">Numer telefonu</label>
            <input asp-for="Parcel.ReceiverPhone" class="form-control" aria-describedby="emailHelp" required="" placeholder="Numer telefonu">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Adres email</label>
            <input type="email" asp-for="Parcel.SenderEmail" class="form-control" id="senderEmail" required="" placeholder="przykład@mail.com">
        </div>
        <div class="col-sm-6">
            <label>Adres email</label>
            <input type="email" class="form-control" asp-for="Parcel.ReceiverEmail" id="recipientEmail" required="" placeholder="przykład@mail.com">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <label>Paczkomat</label>
            <select asp-for="Parcel.LockerCode" class="lockerSelect" id="locker-select" required="">
                <option value="">--Wybierz paczkomat--</option>
                @{

                    foreach (var item in Model.Lockers)
                    {
                        <option value="@item.Code">@item.City @item.Street  </option>

                    }


                }

            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-warning px-4 float-right btnSend">Nadaj</button>
</form>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("Pomyślnie wysłano paczkę");
        }

    </script>

}
